* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 80px;
  width: auto;
  background-color: rgb(227, 227, 227);
}
header h1 {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.Account {
  width: 500px;
  margin: 20px;
  padding: 15px;
  background-color: rgb(219, 220, 219);
  border-radius: 10px;
}

.NewAcc {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.NewAcc button {
  background-color: rgb(67, 201, 67);
  height: 25px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  transition: all 0.5s;
}
.NewAcc button:hover {
  background-color: #45a049;
  height: 35px;
  width: 140px;
}
.NewAcc input {
  margin-left: 5px;
}

.Acctable {
  float: right;
}
.Acctable table {
  width: 500px;
  border-collapse: collapse;
  font-size: medium;
}
.Acctable th, .Acctable td {
  border: 1px solid #a5a3a3;
  text-align: left;
}
.Acctable th {
  padding: 8px;
  background-color: rgb(227, 227, 227);
  font-weight: bold;
}
.Acctable td {
  padding: 6px;
}

.Newtransaction {
  margin: 15px;
}
.Newtransaction .radiobutton {
  display: flex;
}
.Newtransaction .radiobutton p {
  font-weight: bold;
}
.Newtransaction .radiobutton input {
  margin-left: 20px;
}
.Newtransaction .account {
  margin: 10px 0;
}
.Newtransaction .category {
  margin: 10px 0;
  padding-bottom: 10px;
}
.Newtransaction #newCategory {
  margin-left: 10px;
}
.Newtransaction .others {
  display: flex;
}
.Newtransaction .others .description .label {
  margin: 0 10px 0 0;
}
.Newtransaction .others .amount {
  margin: 0 0 0 15px;
}
.Newtransaction .others .amount label {
  margin: 0 10px 0 0;
}
.Newtransaction #addTransaction {
  margin-top: 15px;
  padding: 5px;
  background-color: green;
  color: white;
  border-radius: 10%;
}

.categories {
  margin-top: 20px;
}

.filter {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-left: 15px;
}

.items {
  margin-left: 5px;
  margin-right: 5px;
}

.items table {
  align-self: flex-end;
  padding: 10px;
}

.items th, .items td {
  border: 1px solid rgb(131, 162, 195);
  padding: 7px;
}

.items th {
  background-color: rgb(131, 162, 195);
  border: 1px solid rgb(8, 9, 10);
}

table {
  margin-top: 5px;
  width: 100%;
  border-collapse: collapse;
}

th {
  width: 12.5%;
}

#textFrom {
  margin-left: 10px;
}

.selectAccountTo {
  margin-left: 20px;
}

.account {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 10px;
}

.mainContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .mainContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .mainContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .mainContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=main.css.map */
