@import "./base.scss";

header {
    height: 80px;
    width: auto;
    background-color: $headercolor;

    h1 {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}

