@import "./base.scss";
@import "./header.scss";
@import "./account.scss";
@import "./transaction.scss";
@import "./categories.scss";
@import "./transfer.scss";
.mainContainer{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    gap: 24px;

    @media screen and (min-width: 768px) {
        grid-template-columns:repeat(1,1fr);
    }
    @media screen and (min-width: 1024px) {
        grid-template-columns:repeat(2,1fr);
    }
    @media screen and (min-width: 1280px) {
        grid-template-columns:repeat(2,1fr);
    }
}