.Newtransaction{
    // width: 50%;
    margin: 15px;
    .radiobutton{
        display: flex;
        p{
            font-weight: bold;
        }
        input{
            margin-left: 20px;
        }

    }
    .account{
        margin: 10px 0;
    }
    .category{
        margin: 10px 0;
        padding-bottom: 10px;
        }
    
    #newCategory{
        margin-left: 10px;
    }

    .others{
        display: flex;
        .description{
            .label{
                margin: 0 10px 0 0;
            }
        }
        .amount{
            margin: 0 0 0 15px;
            label{
                margin: 0 10px 0 0;
            }
        }
    }
    #addTransaction{
        margin-top: 15px;
        padding: 5px;
        background-color: green;
        color: white;
        border-radius: 10%;
    }
}